h1{
    font-size:112px;
    font-size:7.9vw;
    letter-spacing:-2px;
    line-height:110%;
    position:fixed;
    top:14%;
    left:10%
}
.about{
    position:absolute;
    top:100vh;
    left:50%;
    right:10%;
    padding-bottom:34vh
}
.firstname{
    overflow: hidden; 
    white-space: nowrap; 
    animation: nameenter 3.5s;
}
.lastname{
    overflow: hidden; 
    white-space: nowrap; 
    animation: nameenter 3.5s;
    animation-delay: 3s;
    animation-fill-mode: both;
}

/* The typing effect */
@keyframes nameenter {
    from { width: 0 }
    to { width: 100% }
}